{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-none col-md-2"></div>
        <div class="col-12 col-md-8">
            <hr>
            <h2 class="logo-font mb-4 text-amaranth">About Us</h2>
            <hr>
        </div>
    </div>
    <div class="col-sm-none col-md-2"></div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <p class="pt-5">Ventdes Ltd. is a business established in 2021 in the outskirts of Dublin, Republic of
                Ireland. Ventdes
                is a company dealing in the production and distribution of ventilation and air conditioning elements,
                accessories and systems.</p>
            <p>We have a vast range of HVAC products in stock and we keep expanding our portfolio.</p>
            <p>Ventdes helps its clients with the experts advice in the selection of essential equipment and products
                necessary for the construction, installation and efficient operation of the ventilation and air
                conditioning systems.</p>

        </div>
        <div class="col-2"></div>
    </div>
</div>

{% endblock %}