{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div id="carouselHeroImage" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselHeroImage" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselHeroImage" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselHeroImage" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://res.cloudinary.com/lkcloud/image/upload/v1665940301/Ventdes/random_stars_decorative_air_diffuser.webp"
                class="d-block w-100" alt="Children's room showing Random Stars decorative air diffuser">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://res.cloudinary.com/lkcloud/image/upload/v1665940302/Ventdes/shamrock_decorative_air_diffuser.webp"
                class="d-block w-100" alt="Children's room showing Shamrock decorative air diffuser">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://res.cloudinary.com/lkcloud/image/upload/v1665940302/Ventdes/teardrop_decorative_air_diffuser.webp"
                class="d-block w-100" alt="Living room showing Teardrop decorative air diffuser">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselHeroImage" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselHeroImage" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="row w-100 text-center gx-0 py-2">
    <div class="col-md-4 bg-image px-1">
        <img src="https://ventdes20.s3.eu-west-1.amazonaws.com/media/ventdes-orange-sale.webp"
            class="img-fluid" alt="Orange room with grey sofa - Orange Sales Banner">
    </div>
    <div class="col-md-4 bg-image px-1">
        <img src="https://ventdes20.s3.eu-west-1.amazonaws.com/media/ventdes-blue-arrivals.webp"
            class="img-fluid" alt="Blue room with white sofa - Blue Arrivals Banner">
    </div>
    <div class="col-md-4 bg-image px-1">
        <img src="https://ventdes20.s3.eu-west-1.amazonaws.com/media/ventdes-green-envy-offers.webp"
            class="img-fluid" alt="Green room with green sofas - Envy Green Offers">
    </div>


    <div class="col-12 trending text-center">
        <h3>Trending</h3>
    </div>
    <div class="row">
        <div class="col-md-10 mx-auto py-3">
            <a href="https://ventdes.herokuapp.com/products/5/">
                <img src="https://ventdes20.s3.eu-west-1.amazonaws.com/media/ventdes-trading-triangles-insitu-001.webp"
                    class="img-fluid" alt="Triangles product insitu in the room with geometric wallpaper">
            </a>
        </div>        
        <div class="col-md-10 mx-auto py-3">
            <a href="https://ventdes.herokuapp.com/products/9/">
                <img src="https://ventdes20.s3.eu-west-1.amazonaws.com/media/ventdes-trading-panther-insitu-001.webp"
                    class="img-fluid" alt="Panther product insitu in the pub decorated with panther pattern">
            </a>
        </div>
        <div class="col-md-10 mx-auto py-3">
            <a href="https://ventdes.herokuapp.com/products/6/">
                <img src="https://ventdes20.s3.eu-west-1.amazonaws.com/media/ventdes-trading-tiger-insitu-001.webp"
                    class="img-fluid" alt="Tiger product insitu in the bathroom matching the pattern">
            </a>
        </div>

    </div>
</div>
{% endblock content %}