<div id="footer">
    <div class="section-width-1200">
        <div class="footer-social">
            <div class="container">
                <!-- social media -->

                <div class="footer-social">
                    <div class="row text-center">
                        <div class="col-3">
                            <a href="https://www.facebook.com/ventdes/" target="_blank" rel="noopener"
                                class="social-media-links" aria-label="link to Facebook page">
                                <i class="fab fa-facebook fa-3x"></i>
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="https://github.com/lukaszkukla/" target="_blank" rel="noopener"
                                class="social-media-links" aria-label="link to GitHub page">
                                <i class="fab fa-github fa-3x"></i>
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="https://gitpod.io/" target="_blank" rel="noopener" class="social-media-links"
                                aria-label="link to GitPod page">
                                <i class="fa-brands fa-square-git fa-3x"></i>
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="https://www.linkedin.com/in/lukaszkukla/" target="_blank" rel="noopener"
                                class="social-media-links" aria-label="link to LinkedIn channel">
                                <i class="fab fa-linkedin fa-3x"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- site map links -->
                <ul class="footer-links-inline">
                    <li><a href="{% url 'home' %}" class="logo" aria-label="home">Ventdes</a></li>
                    <li class="footer-links-buttons-divider"> &#47; </li>
                    <li><a href="{% url 'about' %}" class="footer-links-text"
                            aria-label="Link to Ventdes company information page">About</a>
                    </li>
                    <li class="footer-links-buttons-divider"> &#47; </li>
                    <li><a href="" class="footer-links-text" aria-label="Link to contact page">Contact</a></li>
                    <li class="footer-links-buttons-divider"> &#47; </li>
                    <li><a href="" class="footer-links-text"
                            aria-label="Link to privacy policy information page">Privacy
                            Policy</a></li>
                    <li class="footer-links-buttons-divider"> &#47; </li>
                    <li><a href="tel:+353877405135" class="footer-links-text footer-link-below"
                            aria-label="mobile number"><i class="fas fa-phone-alt"></i> +353 87 054 0026</a></li>
                    <li class="footer-links-buttons-divider"> &#47; </li>
                    <li><a href="mailto:lukaszkukla@gmail.com" class="footer-links-text footer-link-below"
                            aria-label="email address"><i class="fas fa-envelope"></i> lukaszkukla@gmail.com</a>
                    </li>
                </ul>
                <!-- Newsletter subscription  -->
                <form class="row" id="newsletter-form" method="post" action="{% url 'newsletter' %}">
                    {% csrf_token %}
                    <div class="col-md-8 col-none"></div>
                    <div class="col-md-4 col-12">
                        {{ newsletter_form | crispy }}
                    </div>
                    <div class="col-12 px-2 text-end">
                        <button type="submit" class="btn btn-amaranth rounded-0">Subscribe</button>
                    </div>
                </form>

                <div class="text-center py-5">2022 Ventdes</div>
                <div class="text-end pt-5">Ventdes 2022 designed by kukladev.com</div>
                <div class="text-end pb-5">### For educational purposes only ###</div>

            </div>
        </div>
    </div>
</div>