@import url('href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&family=Lato:wght@300;400;700&display=swap');

/* colors used for the website */

:root {
    --white: #FFFFFF;
    --black1: #222222;
    --black2: #000000;
    --grey1: #666666;
    --grey2: #737373;
    --amaranth: #B11841;
    --amaranth085: #B11841D9;
    --amaranth015: #B1184140;
    --light-grey1: #DDDDDD;
    --light-grey2: #F4F4F4;
}

/* global styles */

* {
    margin: 0;
    padding: 0;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 62.5%;
    color: var(--black);
}

body {
    height: 100%;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: var(--white);
    z-index: -1;
}

/* Buttons and inputs */

.input-search, .btn-search {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}

.btn-search {
    background: var(--amaranth);
    color: white;
}

.btn-search:hover,
.btn-search:active,
.btn-search:focus {
    background: var(--amaranth085);
    color: var(--white);
}


.btn-black {
    background: var(--black2);
    color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: var(--black1);
    color: var(--white);
}

.text-black {
    color: var(--black) !important;
}

.border-black {
    border: 1px solid var(--black1);
}

.border-amaranth015 {
    border: 1px solid var(--amaranth015);
}

/* Icon centering */
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    font-size: 2.2rem;
}

/* Navbar */
.navbar {
    align-items: center;
    padding-bottom: 0;
}

.nav-link {
    padding: 1rem 0 !important;
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus, 
.navbar-toggler:hover {
    outline: none;
    box-shadow: none;
    border: none;
}

.nav-link {
    padding: 1rem 2rem;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    color: var(--amaranth);
}

.bi-list {
    font-size: 3.5rem !important;
    color: var(--black2) !important;
}

.dropdown-item {
    font-size: 1.6rem;
}

.dropdown-item:hover {
    background: var(--amaranth);
    color: var(--white);
}

.navbar-nav > li:hover {
    background: var(--amaranth);
    color: var(--white);
}


/* Media queries */
@media (min-width: 992px) {
    .header-container {
        padding-top: 16.4rem;
    }

    .nav-link {
        padding: 1rem 2rem;
    }
}

@media (max-width: 400px) {
    .logo-image {
        visibility: visible;
    }

    .logo-name {
        visibility: hidden;
    }
}

@media (max-width: 991px) {
   .header-container {
    padding-top: 11rem;
   }
}