{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 text-center"><div class="col-12 text-center py-5">
                <img src="https://ventdes.s3.eu-west-1.amazonaws.com/media/logo.png" alt="Ventdes logo">
            </div>
            
            <h1 class="text-center">
                Ooops...
            </h1>
            <h2 class="text-center">
                404 <span class="text-smaller">- page not found</span>
            </h2>
            <hr>
            <p class="py-3">
                We've searched for what you were looking for and came up empty.
            </p>
            <p class="text-center">
                Don't worry, there is plenty more to choose from.
            </p>

            <div class="row center form-container g-3 pb-3">                
                <div class="col-md-6 col-sm-12">
                    <a class="btn btn-amaranth rounded-0 btn-lg btn-404" href="/products/">
                        <span class="icon">
                            <i class="bi bi-caret-left-fill"></i>
                        </span>
                        <span class="text-uppercase">Back to Products</span>
                    </a>
                </div>
                <div class="col-md-6 col-sm-12">
                    <a class="btn btn-amaranth rounded-0 btn-lg btn-404" href="/">
                        <span class="icon">
                            <i class="bi bi-house-door-fill"></i>
                        </span>
                        <span class="text-uppercase"> Homepage</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}