<div class="text-center d-none d-lg-inline" id="main-nav">
    <ul class="list-inline list-unstyled w-auto mx-auto my-0">        
        <li class="list-inline-item text-center my-0">
            <a href="#" class="logo-font font-weight-bold nav-link text-black me-5" id="products-link"
                aria-haspopup="true" aria-expanded="false" >
                Products
            </a>
        </li>
        <li class="list-inline-item text-center my-0">
            <a href="#" class="logo-font font-weight-bold nav-link text-black me-5" id="products-link"
                aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
        </li>
        <li class="list-inline-item text-center my-0">
            <a href="#" class="logo-font font-weight-bold nav-link text-black me-5" id="products-link"
                aria-haspopup="true" aria-expanded="false">
                About
            </a>
        </li>
        <li class="list-inline-item text-center my-0">
            <a href="#" class="logo-font font-weight-bold nav-link text-black" id="products-link"
                aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>
    </ul>
</div>