<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto text-center mx-auto">
        <li class="nav-item my-0 px-3">
            <a href="#" class="logo-font font-weight-bold nav-link text-black" id="products-link"
                aria-haspopup="true" aria-expanded="false" >
                Products
            </a>
        </li>
        <li class="nav-item my-0 px-3">
            <a href="#" class="logo-font font-weight-bold nav-link text-black" id="products-link"
                aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
        </li>
        <li class="nav-item my-0 px-3">
            <a href="#" class="logo-font font-weight-bold nav-link text-black" id="products-link"
                aria-haspopup="true" aria-expanded="false">
                About
            </a>
        </li>
        <li class="nav-item my-0 px-3">
            <a href="#" class="logo-font font-weight-bold nav-link text-black" id="products-link"
                aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>        
    </ul>
</div>