{% load static %}
<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ventdes is a leading ventilation company in Ireland with solutions for energy efficient ventilation and a healthy indoor climat ">
    <meta name="keywords"
        content="ventilations, anemostat, air duct, air condition, climat control, fresh air, air purifier, ventilation accessories">
    <meta name="author" content="Ventdes">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.png' %}">
    {% endblock meta %}
    
    {% block extra_meta %}
    {% endblock extra_meta %}
    
    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock corecss %}
    
    {% block extra_css %}
    {% endblock extra_css %}
    
    {% block corejs %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <!-- Stripe -->
    
    {% endblock corejs %}
    
    {% block extra_js %}
    {% endblock extra_js %}
    <title>Ventdes {% block extra_title %}{% endblock extra_title %}</title>
</head>

<body>
    
    <header class="container-fluid fixed-top">
        <div id="free-delivery" class="row text-center">
            <div class="col bg-black text-white">
                <h4 class="logo-font py-1">Free delivery over € {{ free_delivery_threshold }}!</h4>
            </div>
        </div>
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-2 text-center text-lg-start my-auto">
                <a class="navbar-brand mx-0" href="{% url 'home' %}">
                    <img class="d-none d-sm-inline mb-2"
                        src="https://ventdes.s3.eu-west-1.amazonaws.com/media/logo.png"
                        alt="Logo" width="32">
                    <span class="logo-font">Ventdes</span>
                </a>
            </div>            
            <div class="col-12 col-lg-8 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border-amaranth015 rounded-0 input-search" type="text" name="q"
                            placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-search border-amaranth015 rounded-0" aria-label="Search">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-2 my-auto py-1 py-lg-0 pe-lg-5">
                <ul class="list-inline list-unstyled text-center text-lg-end my-0">
                    <li class="list-inline-item dropdown">
                        <a class="nav-link" href="#" id="user-options" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <i class="fas fa-user fa-lg"></i>
                            </div>
                            <p class="my-0">Account</p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'add_product' %}" class="dropdown-item"><i class="bi bi-boxes"></i> Products Management</a>
                                    <a href="{% url 'categories' %}" class="dropdown-item"><i class="bi bi-folder-fill"></i> Categories Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item"><i class="bi bi-person-fill"></i> Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item"><i class="bi bi-door-open"></i>
                                Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item"><i
                                    class="bi bi-pencil-square"></i> Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item"><i class="bi bi-person-fill"></i>
                                Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %} font-weight-bold{% else %}text-black{% endif %} nav-link"
                            href="{% url 'view_cart' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    € {{ grand_total|floatformat:2|truncatechars:6}}
                                    {% else %}
                                    € 0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">  
                {% include 'includes/mobile-top-header.html' %} 
                <button class="navbar-toggler me-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span>   
                        <i class="bi bi-list"></i>
                    </span>
                </button>                    
                {% include 'includes/main-nav.html' %}                    
            </nav>
        </div>
        
    </header>

    <!-- Messages section -->
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}
    {% block page_header %}
    {% endblock page_header %}
    
    {% block content %}
    {% endblock content %}

    <!-- Footer -->
    {% include 'includes/components/footer.html' %}

    {% block postloadjs %}
    <script>
        $(document).ready(function() {
            $(".toast").toast('show');
        });
    </script>    
    {% endblock postloadjs %}


</body>

</html>