{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row mobile-navbar-top-spacer">
        <div class="col text-center mt-3">
            <h2 class="logo-font pt-1">Products</h2>
            {% for category in current_categories %}
                <a href="{% url 'products' %}?category={{ category.name }}" class="category-badge badge text-decoration-none rounded-1">
                    {{ category.friendly_name }}
                </a>
            {% endfor %}
            <hr class="w-50 mx-auto py-2">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper text-center text-md-end w-75 py-3">
                        <select name="" id="sort-selector"
                            class="custom-select custom-select-sm rounded-1 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>                            
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}> Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted text-center text-md-start my-0 py-3">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a class="products-home-link" href="{% url 'products' %}">Products Home</a> | </span>
                        {% endif %}
                        {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                    <div class="col-sm-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0">
                            {% if product.image %}
                                <a href="{% url 'product_details' product.id %}">
                                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>                                    
                            {% else %}
                                <a href="{% url 'product_details' product.id %}">
                                    <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <h5 class="card-title">{{ product.name }}</h5>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-start">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-start font-weight-bold">€{{ product.price }}</p>
                                        {% if product.category %}
                                            <p class="small my-0 py-2">
                                                <a href="{% url 'products' %}?category={{ product.category.name }}" class="text-muted">
                                                    <i class="bi bi-tag"></i> {{ product.category.friendly_name }}
                                                </a>
                                            </p>
                                        {% endif %}
                                        {% if product.rating %}
                                            <small class="text-muted"><i class="bi bi-star-fill"></i> {{ product.rating }} / 5</small>
                                        {% else %}
                                            <small class="text-muted">No rating</small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none pb-3">
                            <hr>
                        </div>
                    {% endif %}

                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none pb-3">
                            <hr>
                        </div>
                    {% endif %}

                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none pb-3">
                            <hr>
                        </div>
                    {% endif %}

                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block pb-3">
                            <hr>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>            
        </div>
    </div>
</div>
<div class="btt-button rounded-circle">
    <a class="btt-link d-flex h-100">
        <i class="bi bi-chevron-double-up text-white mx-auto my-auto"></i>
    </a>
</div>
{% endblock content %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}